[[source]]
verify_ssl = true
name = "pypi"
url = "https://pypi.org/simple"

[packages]
"beautifulsoup4" = "*"
gunicorn = "*"
flask = "*"
requests = "*"
xlrd = "*"
raven = {extras = ["flask"]}
flask-sslify = "*"

[dev-packages]

[requires]
python_version = "3.7"
