/*html, body {
	height: 100%;
	font-family: 'Open Sans', sans-serif;
}*/

/*#container {
	width: 80%;
	height: 100%;
	margin-left: auto;
	margin-right: auto;
}

#map {
	width: 100%;
	height: 70%;
}*/

/*#info {
	position: relative;
}

.datamap {
	position: relative;
}

.datamaps {
	float: left;
}*/

/** {
  -webkit-border-radius: 0 !important;
     -moz-border-radius: 0 !important;
          border-radius: 0 !important;
}*/

.container {
	height: 100%;
}

.row-eq-height {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display:         flex;
}

#info {
	height: 100%;
}

#comment-bar {
	height: 255px;
	border-top-style: solid;
    border-top-width: 15px;
}

div.country {
	height: 200px;
	width: 200px;
	border: none;
	margin-bottom: 0;
	margin-left: 15px;
	padding-right: 0;
	background: #CDCDCD;
/*	background-clip: content-box;*/
}

div.dots {
	height: 40px;
	background: black;
	margin-left: 15px;
	margin-right: 15px;
}