* {
  -webkit-border-radius: 0 !important;
     -moz-border-radius: 0 !important;
          border-radius: 0 !important;
}

.container {
	height: 100%;
}

.row-eq-height {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display:         flex;
}

#info {
	height: 100%;
}

#comment-bar {
	height: 255px;
	border-top-style: solid;
    border-top-width: 15px;
}

div.country {
	height: 200px;
	width: 200px;
	border: none;
	margin-bottom: 0;
	margin-left: 15px;
	background: #CDCDCD;
/*	background-clip: content-box;*/
}

.comment {
	margin-top: 1em;
	font-size: 1.5em;
	line-height: 1.5em;
}

.comment-box {
	height: 200px;
	overflow-y: auto;
	padding-right: 0;
	margin-right: 15px;
}

.lquote {
	font-size: 3em;
	font-family: times;
	font-weight: bold;
}

div.dots {
	height: 40px;
	background: black;
	margin-left: 15px;
	margin-right: 15px;
	overflow: hidden;
}

.attribute {
	color: gray;
	font-size: 0.8em;
}

ul.pagination {
	margin-top: 4px;
	margin-bottom: 0;
}

.pagination li a {
	border: none;
	background-color: black;
	color: white;
}

/*.pagination li a:hover {
	background-color: black;
	color: white;
}

.pagination .active li a {
  background-color: white;
  color: gray;
  cursor: default;
  pointer-events: none;
}*/

.pagination .disabled a {
	color: gray;
	background-color: black;
	pointer-events: none;
}
