* {
  -webkit-border-radius: 0 !important;
     -moz-border-radius: 0 !important;
          border-radius: 0 !important;
}

.container {
	height: 100%;
}

.row-eq-height {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display:         flex;
}

#info {
	height: 100%;
}

#comment-bar {
	height: 255px;
	border-top-style: solid;
    border-top-width: 15px;
}

div.country {
	height: 200px;
	width: 200px;
	border: none;
	margin-bottom: 0;
	margin-left: 15px;
	background: #CDCDCD;
/*	background-clip: content-box;*/
}

.comment {
	margin-top: 1em;
	font-size: 1.5em;
	line-height: 1.5em;
}

.comment-box {
	height: 200px;
	overflow-y: auto;
	padding-right: 0;
	margin-right: 15px;
}

.lquote {
	font-size: 3em;
	font-family: times;
	font-weight: bold;
}

div.dots {
	height: 40px;
	background: black;
	margin-left: 15px;
	margin-right: 15px;
	padding-left: 6px;
	overflow: hidden;
}

span.ellipse {
	color: gray;
}

.attribute {
	color: gray;
	font-size: 0.8em;
}

.simple-pagination ul {
	margin-top: 6px;
	margin-bottom: 0;
}

.panel-footer {
	margin-left: -15px;
	margin-right: -15px;
	height: 70px;
	background: black;
}

#footer {
	color: #B4B3B1;
	height: 50px;
	line-height: 50px;
	text-align: center;
	vertical-align: bottom;
}

.logo-mit-lib {
	float: left;
	display: block;
	padding-left: 0;
	width: 120px;
	height: 50px;
	fill: white;
}

.link-logo-mit {
	float: right;
	height: 50px;
}

.datamaps-subunits {
	cursor: pointer;
}
