<!DOCTYPE html>
<html>
  <head>
    <title>OA Stories</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">
    <link href={{ url_for('static', filename='main.css') }} rel="stylesheet" media="screen">
    
  </head>
  <body>
    {% block body %}
    <div class="container">

      {% block navbar %}
        <nav role="navigation" class="navbar navbar-default">
          <div class="navbar-header">
              <a href="/" class="navbar-brand">Open Access Stories</a>
          </div>
        </nav>
      {% endblock %}

      {% block content %}
        <div class="row row-eq-height">
          <div class="col-sm-12 col-md-9 panel viz" id="map" style="height: 400px"></div>
          <div class="col-sm-12 col-md-3 panel info">Information text goes here.</div>
        </div>
      {% endblock %}

      {% block scripts %}
        <script src="//cdnjs.cloudflare.com/ajax/libs/d3/3.5.3/d3.min.js"></script>
        <script src="//cdnjs.cloudflare.com/ajax/libs/topojson/1.6.9/topojson.min.js"></script>
        <script src="static/datamaps.world.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
        <script src="/static/main.js"></script>
    {% endblock %}

    {% endblock %}
  </body>

</html>