<!DOCTYPE html>
<html>
  <head>
    <title>OA Stories</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">
    <link href={{ url_for('static', filename='main.css') }} rel="stylesheet" media="screen">
    
  </head>
  <body>
    {% block body %}
    <div class="container">
      {% block header %}
        <div class="row" id="comment-bar">
          <div class="row row-eq-height">
            <div class="col-sm-2 country"></div>
            <div class="col-sm-10 comment-box"></div>
          </div>
          <div class="row">
            <div class="dots"></div>
          </div>
        </div>
      {% endblock %}

      {% block content %}
        <div class="row">
          <div class="col-sm-12 col-md-9 panel viz" id="map" style="height: 400px"></div>
          <div class="col-sm-12 col-md-3 panel info" style="height:400px">
            <h2>Open Access Stories</h2>
            <p>This prototype lets you see what readers from around the globe are saying about the articles being shared openly with the world as a result of the <a href="http://libraries.mit.edu/scholarly/mit-open-access/open-access-at-mit/mit-open-access-policy/">MIT Faculty Open Access Policy</a>.</p>
            <p>To access the articles, see the <a href="http://dspace.mit.edu/handle/1721.1/49433">Open Access Articles Collection in Dspace@MIT</a>.</p>
            <p>Download statistics for the articles are also displayed—more available through the <a href="http://oastats.mit.edu">download statistics service</a>.</p>
            <p>Have feedback on this visualization? <a href="mailto:oastats@mit.edu?subject=Feedback on data visualization of OA comments">Let us know what you think!</a>   
          </div>
        </div>
      {% endblock %}

      {% block scripts %}
        <script src="//cdnjs.cloudflare.com/ajax/libs/d3/3.5.3/d3.min.js"></script>
        <script src="//cdnjs.cloudflare.com/ajax/libs/topojson/1.6.9/topojson.min.js"></script>
        <script src="static/datamaps.world.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
        <script src="/static/d3plus.js"></script>
        <script src="/static/main.js"></script>
    {% endblock %}

    {% endblock %}
  </body>

</html>